@use "sass:map" as sass_map;
@use 'variables' as *;
* {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
  line-height: inherit;
  appearance: none;
  outline: 0;
  transition: 0.2s opacity, 0.1s color, 0.25s background-color;
  vertical-align: top;
  //font-family: inherit;
}
body {
  font-size: 0;
  background-color: sass_map.get($colors, bk);
  color: sass_map.get($colors, font);
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
}
.pointer {
  cursor: pointer;
}
.sysIcon {
  vertical-align: middle;
}
.listIcon {
  font-family: "listIcon", sans-serif !important;
}
.sysIcon {
  font-family: "sysIcon", sans-serif !important;
}
// ----------------------------------------------------
input,
button,
select,
textarea, .btn {
  cursor: pointer;
}
button,
select, .btn {
  background-color: sass_map.get($colors, button);
  color: sass_map.get($colors, font);
  padding: $fontSize*0.25;
  &:hover,
  &.active,
  &.disabled,
  option:checked {
    background-color: sass_map.get($colors, button_active);
    color: sass_map.get($colors, font_active);
  }
  //@include smallScroll();
}
input {
  background-color: sass_map.get($colors, bk);
  color: sass_map.get($colors, font);
  padding: $fontSize*0.25;
  &:hover,
  &:focus,
  &.active,
  &.disabled {
    background-color: sass_map.get($colors, bk_active);
    color: sass_map.get($colors, font_active);
  }
}
textarea {
  background-color: sass_map.get($colors, bk);
  color: sass_map.get($colors, font);
  padding: $fontSize*0.25;
  //@include smallScroll();
  &:hover,
  &:focus,
  &.active,
  &.disabled {
    background-color: sass_map.get($colors, bk_active);
    color: sass_map.get($colors, font_active);
  }
}
::selection {
  background-color: sass_map.get($colors, selection_bk);
  color: sass_map.get($colors, selection);
}
input[type='checkbox'],
input[type='radio'] {
  display: none;
  + label {
    display: inline-block;
    width: max-content;
    font-size: $fontSize;
    padding: 0.25*$fontSize 0.5*$fontSize;
    line-height: $fontSize;
    //border-radius: 0.5*$fontSize;
    vertical-align: baseline;
    &::after {
      font-family: "sysIcon" !important;
      font-size: 0.75em;
      content: '\e600';
      vertical-align: text-bottom;
    }
  }
  &:checked {
    + label {
      &::after {
        content: '\e62c';
      }
    }
  }
  + label.no_bg {
    background-color: transparent;
  }
  &:checked {
    + label.no_bg {
      background-color: transparent;
    }
  }
}
.preLine {
  white-space: pre-line;
}
/*
 *  @see https://www.cnblogs.com/amylis_chen/p/11995324.html
 *  @see https://www.cnblogs.com/ertingbo/p/7151566.html
 */
//color defined in theme/default.scss
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar {
  width: $fontSize*0.5;
  height: $fontSize*0.5;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(197, 197, 197, 0.25);
  border-radius: $fontSize;
}
:hover::-webkit-scrollbar-thumb {
  background-color: rgba(197, 197, 197, 0.5);
}
::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.0);
}
.buttonStyle {
  //margin-left: $fontSize;
  cursor: pointer;
  padding: 0.5em;
  //
  background-color: sass_map.get($colors, transparent);
  color: sass_map.get($colors, font);
  &:hover, &.active {
    background-color: sass_map.get($colors, font_active);
    color: sass_map.get($colors, button_active);
  }
}
