@import "variables";
* {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
  line-height: inherit;
  appearance: none;
  outline: 0;
  transition: 0.2s opacity;
  vertical-align: top;
}
body {
  font-size: 0;
  background-color: map-get($colors, bk);
  color: map-get($colors, font);
}
table {
  border-collapse: collapse;
}
.pointer {
  cursor: pointer;
}
.sysIcon {
  vertical-align: middle;
}
// ----------------------------------------------------
input,
button,
select,
textarea, .btn {
  cursor: pointer;
}
button,
select, .btn {
  background-color: map-get($colors, button);
  color: map-get($colors, font);
  padding: $fontSize*0.25;
  &:hover,
  &.active,
  &.disabled,
  option:checked {
    background-color: map-get($colors, button_active);
    color: map-get($colors, font_active);
  }
  //@include smallScroll();
}
input {
  background-color: map-get($colors, bk);
  color: map-get($colors, font);
  padding: $fontSize*0.25;
  &:hover,
  &:focus,
  &.active,
  &.disabled {
    background-color: map-get($colors, bk_active);
    color: map-get($colors, font_active);
  }
}
textarea {
  background-color: map-get($colors, bk);
  color: map-get($colors, font);
  padding: $fontSize*0.25;
  //@include smallScroll();
  &:hover,
  &:focus,
  &.active,
  &.disabled {
    background-color: map-get($colors, bk_active);
    color: map-get($colors, font_active);
  }
}
::selection {
  background-color: map-get($colors, selection_bk);
  color: map-get($colors, selection);
}
input[type='checkbox'],
input[type='radio'] {
  display: none;
  + label {
    display: inline-block;
    width: max-content;
    /*background-image: linear-gradient(0deg, hsla(250, 30%, 30%, 1) 0%, rgb(25, 25, 25) 100%);*/
    //background-color: map-get($colors, negative);
    font-size: $fontSize;
    padding: 0.25*$fontSize 0.5*$fontSize;
    line-height: $fontSize;
    //border-radius: 0.5*$fontSize;
    vertical-align: baseline;
    &::after {
      font-family: "sysIcon" !important;
      font-size: 0.75em;
      content: '\e600';
      vertical-align: text-bottom;
    }
  }
  &:checked {
    + label {
      //background-image: linear-gradient(0deg, rgba(100, 100, 100, 1) 0%, rgba(150, 150, 150, 1) 100%);
      //background-color: map-get($colors, positive);
      &::after {
        content: '\e62c';
      }
    }
  }
  + label.no_bg {
    background-color: transparent;
    //color: map-get($colors, negative);
  }
  &:checked {
    + label.no_bg {
      background-color: transparent;
      //color: map-get($colors, positive);
    }
  }
}
.preLine {
  white-space: pre-line;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar {
  width: $fontSize*0.5;
  height: $fontSize*0.5;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(197, 197, 197, 0.25);
  border-radius: $fontSize;
}
:hover::-webkit-scrollbar-thumb {
  background-color: rgba(197, 197, 197, 0.5);
}
::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.0);
}
.buttonStyle {
  //margin-left: $fontSize;
  cursor: pointer;
  padding: $fontSize*0.5;
  //
  background-color: map-get($colors, transparent);
  color: map-get($colors, font);
  &:hover, &.active {
    background-color: map-get($colors, font_active);
    color: map-get($colors, button_active);
  }
}