@import "variables";

* {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
  line-height: inherit;
  appearance: none;
  outline: 0;
  transition: 0.2s opacity;
  vertical-align: top;
}

body {
  font-size: 0;
  background-color: map-get($colors, bk);
  color: map-get($colors, font);
}

table {
  border-collapse: collapse;
}

.pointer {
  cursor: pointer;
}

// ----------------------------------------------------
input,
button,
select,
textarea {}

button,
select {
  background-color: map_get($colors, input_button_bk);
  color: map_get($colors, input_button_font);
  padding: $fontSize*0.25;

  &:hover,
  &.active,
  &.disabled {
    background-color: map_get($colors, input_button_bk_active);
    color: map_get($colors, input_button_font_active);
  }
}

input {
  background-color: map_get($colors, input_bk);
  color: map_get($colors, input_font);
  padding: $fontSize*0.25;

  &:hover,
  &:focus,
  &.active,
  &.disabled {
    background-color: map_get($colors, input_bk_active);
    color: map_get($colors, input_font_active);
  }
}

textarea {
  background-color: map_get($colors, input_bk);
  color: map_get($colors, input_font);
  padding: $fontSize*0.25;
  @include smallScroll();

  &:hover,
  &:focus,
  &.active,
  &.disabled {
    background-color: map_get($colors, input_bk_active);
    color: map_get($colors, input_font_active);
  }
}

::selection {
  background-color: map_get($colors, selection_bk);
  color: map_get($colors, selection);
}

input[type='checkbox'],
input[type='radio'] {
  display: none;

  +label {
    display: inline-block;
    width: max-content;
    /*background-image: linear-gradient(0deg, hsla(250, 30%, 30%, 1) 0%, rgb(25, 25, 25) 100%);*/
    background-color: map_get($colors, negative);
    font-size: $fontSize;
    padding: 0.25*$fontSize 0.5*$fontSize;
    line-height: $fontSize;
    //border-radius: 0.5*$fontSize;
    vertical-align: baseline;
  }

  &:checked {
    +label {
      //background-image: linear-gradient(0deg, rgba(100, 100, 100, 1) 0%, rgba(150, 150, 150, 1) 100%);
      background-color: map_get($colors, positive);
    }
  }
}