
@use "sass:map";
@use '@/assets/variables.scss' as *;

@keyframes rotateAnimate {
    0% {
      transform: rotate(0);
    }
  
    50% {
      transform: rotate(180deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .modal_browser {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    //background-color: aqua;
    container-type: size;
  
    >div {
      position: absolute;
    }
  
    .info {
      padding-left: $fontSize * 0.25;
      $blurSize: $fontSize * 0.25;
      text-shadow: 0 0 $blurSize black, 0 0 $blurSize black, 0 0 $blurSize black,
        0 0 $blurSize black;
      color: map.get($colors, font);
  
      p:first-child {
        color: map.get($colors, font_active);
      }
  
      p:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        //width: 80%;
      }
  
      &.detail p:first-child {
        white-space: normal;
      }
  
      p {
        max-width: $fontSize*10;
        white-space: nowrap;
      }
  
      &.detail p {
        max-width: unset;
      }
    }
  
    .pagination {
      z-index: 5;
      pointer-events: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
  
      .left,
      .right {
        height: 100%;
        pointer-events: all;
        top: 0;
        width: $fontSize * 2;
        //      background-color: blue;
        position: absolute;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        background-color: map.get($colors, popup_active);
        cursor: pointer;
  
        &:hover {
          opacity: 1;
        }
      }
  
      .left {
        left: 0;
      }
  
      .right {
        right: 0;
      }
    }
  
    .pagination.isMobile {
  
      .left,
      .right {
        opacity: 1;
        background-color: transparent;
  
        span {
          //width: $fontSize * 2;
          //height: $fontSize * 2;
          //line-height: $fontSize * 2;
          //border-radius: $fontSize * 2;
          //background-color:  map.get($colors, popup_active);
          $blurSize: $fontSize * 0.25;
          text-shadow: 0 0 $blurSize black, 0 0 $blurSize black, 0 0 $blurSize black,
            0 0 $blurSize black;
        }
      }
    }
  
    .content {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      position: relative;
  
      .listIcon {
        font-size: 50cqh;
        line-height: 50cqh;
        margin-top: 15cqh;
        display: block;
      }
  
      span.title {
        margin-top: 5cqh;
        font-size: 5cqh;
        display: inline-block;
        max-width: 75cqw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  
    .base {
      z-index: 10;
      width: 100%;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: absolute;
  
      .l,
      .r {
        position: absolute;
  
        >*:last-child {
          margin-top: $fontSize * 0.5;
        }
      }
  
      .l {
        left: 0;
      }
  
      .r {
        right: 0;
        text-align: right;
      }
  
      .btnContainer {
  
        button,
        select {
          vertical-align: bottom;
          font-size: $fontSize;
          line-height: $fontSize;
        }
      }
    }
  }
  
  .loader.sysIcon {
    font-size: $fontSize*10;
    //display: block;
    text-align: center;
    z-index: 1;
    color: map.get($colors, font);
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader.sysIcon::before {
    display: block;
    animation: rotateAnimate 5s infinite linear;
    $blurSize: $fontSize ;
    text-shadow: 0 0 $blurSize black;
  }
  
  .modal_browser.base {
    .content {
      text-align: center;
    }
  }