[Unit]
Description=nas_be
After=nas_mount.service

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/npm run serve >> /myNas/log/nas_be.log
WorkingDirectory=/myNas/server/

[Install]
WantedBy=multi-user.target
