[Unit]
Description=nas_mount
After=cron.service

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/rclone mount dav230:/ /myNas/file --vfs-cache-mode full --allow-other --umask 0 --log-file /myNas/log/rclone.log --allow-non-empty 
WorkingDirectory=/myNas

[Install]
WantedBy=multi-user.target
